@font-face {
    font-family: 'Sono';
    src: url('./fonts/sono.woff2') format("woff2") tech('variations');
    src: url('./fonts/sono.woff2') format("woff2-variations");
    font-weight: 200 800;
    font-style: normal;   
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Sono', Verdana, Tahoma, sans-serif;
    font-variation-settings: 'MONO' 1;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration: underline;
}

:root {
    --text-color: #2a3536;
    --secondary-color: #615921;
    --tertiary-color: #363c30;
    --faint-color: #c6babc;
    --error-color: rgb(217, 13, 13);

    color: var(--text-color);
}

/* Big containers */
body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.image {
    height: 100%;
    flex-grow: 1;
    flex-basis: 45%;

    background-image: url("./images/blake-cheek-CPwYhs2ww24-unsplash.jpg");
    background-color: #ebe2e5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.texts {
    flex-grow: 1;
    flex-basis: 55%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
}

/* Image Section */
.title {
    position: relative;
    bottom: 60%;
    margin: 0 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* to center title with the icon */
}

.title > h1 {
    font-weight: 200;
    font-size: 3rem;
    margin: 0;
}

.title > img.icon {
    height: 4rem;
}

.credit {
    font-style: italic;
    font-size: 0.5em;
    color: white;
    text-align: center;
}

/* Texts div formatting */
.texts {
    padding: 20px;
}

.texts > div, .texts > form {
    width: min(95%, 600px);
}

/* Intro */
.intro > p {
    font-size: 1.5em;
    font-weight: 350;
}

/* Form Layout */
form > h2 {
    display: inline-block;
    /* so that background spans only the text so that we get the full spectrum */

    font-size: 1.5em;
    font-weight: 600;

    background-image: var(--secondary-color);
    background-image: linear-gradient(70deg, var(--secondary-color) 0%, var(--tertiary-color) 100%);
    background-clip: text;
    background-size: 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 25px;
}

form li {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

form input {
    width: 100%;
}

form ul, form li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form label {
    margin-bottom: 3px;
}

form label, form input, form span {
    display: block;
}

/* Form appearance */
form label {
    text-transform: uppercase;
    font-size: 1em;
}

form input {
    outline: none;
    border-style: solid;
    border-color: transparent transparent var(--secondary-color) transparent;
    border-width: 1.5px;

    font-family: inherit;
    font-size: 1.25em;

    transition-duration: 0.2s;
}

form label:has(+ input:required)::after {
    content: "*";
}

form label:has(+ input + span:not(:empty)) {
    color: var(--error-color);
    transition-duration: 0.2s;
}

form input:has(+ span:not(:empty)) {
    --border-focus-color: var(--error-color);

    border-color: transparent transparent var(--error-color) transparent;
    transition-duration: 0.2s;
}

form input:hover {
    border-color: transparent transparent var(--faint-color) transparent;
    transition-duration: 0.2s;
}

form#signup input:focus {
    border-color: var(--border-focus-color, --secondary-color);
    transition-duration: 0.2s;
}

form input + span {
    background-color: var(--error-color);
    font-size: 0.8em;
    color: white;

    transition-duration: 0.2s;
}

form input + span.active {
    padding: 0.4em;

    transition-duration: 0.2s;
}

/* div-button */
.div-button > button {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;

    margin-top: 24px; /* margin of p in the intro section */
    padding: 10px 20px;

    transition-duration: 0.2s;
}

.div-button > button:hover {
    background-color: var(--tertiary-color);
    transition-duration: 0.2s;
}

.div-button > button:active {
    background-color: var(--faint-color);
    color: black;
    transition-duration: 0.05s;
}

.div-button > p > a {
    color: var(--secondary-color);
    transition-duration: 0.2s;
}

.div-button > p > a:hover {
    color: var(--tertiary-color);
    transition-duration: 0.2s;
}

.div-button > p > a:active {
    color: var(--faint-color);
    transition-duration: 0.05s;
}